@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%; */

    /* used */
    /* --primary: 240deg 3.23% 12.16%;
    --primary-foreground: 0deg 100% 98.04%; */

    /* hsl(240deg 3.23% 12.16%) */
    /* hsl(60deg 100% 98.04% / 86%) */
  }
}
/* Change Autocomplete styles in Chrome*/
.dark input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  caret-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000;
  caret-color: #000;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}
